<div class="text-center mt-3">
  <h2>Kết quả: {{pagination?.totalItems}} được tìm thấy</h2>
</div>

<div class="container mt-3">
  <form #ngForm="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
    <div class="form-group">
      <label for="">Tuổi từ</label>
      <input type="number" class="form-control ml-1" style="width: 70px;" name="minAge" [(ngModel)]="userParams.minAge">
    </div>

    <div class="form-group px-2">
      <label for="">Đến</label>
      <input type="number" class="form-control ml-1" style="width: 70px;" name="maxAge" [(ngModel)]="userParams.maxAge">
    </div>

    <div class="form-group px-2">
      <label for="">Giới tính</label>
      <select [(ngModel)]="userParams.gender" class="form-control ml-1" name="gender" style="width: 130px">
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{gender.display}}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary ml-1">Lọc</button>
    <button (click)="resetFilter()" type="submit" class="btn btn-info ml-1">Reset</button>

    <div class="col">
      <div class="btn-group float-right">
        <button
          class="btn btn-primary"
          name="orderBy" (click)="loadMembers()"
          [(ngModel)]="userParams.orderBy"
          btnRadio="lastActive"
          type="button"
        >
          Lần hoạt động cuối cùng
        </button>

        <button
          class="btn btn-primary"
          name="orderBy" (click)="loadMembers()"
          [(ngModel)]="userParams.orderBy"
          btnRadio="created"
          type="button"
        >
          Thành viên mới
        </button>
      </div>
    </div>

  </form>
</div>

<div class="row">
  <div *ngFor="let member of this.members" class="col-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChange($event)"
              firstText="&laquo;"
              lastText="&raquo;"
              nextText="&rsaquo;"
              previousText="&lsaquo;">
  </pagination>
</div>
