<!--<div *ngIf="member" class="row">-->
<div class="row">
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl}}" alt="{{member.knownAs}}" onerror="this.src='./assets/user.png'" class="card-img-top img-thumbnail">
      <div class="card-body">
        <div class="mb-2" *ngIf="(presenceService.onlineUser$|async)?.includes(member.userName)">
          <i class="fa fa-user-circle text-success"></i>
        </div>
        <div>
          <strong>Nơi ở:</strong><p>{{member.city}}, {{member.country}}</p>
        </div>
        <div>
          <strong>Tuổi:</strong><p>{{member.age}}</p>
        </div>
        <div>
          <strong>Lần hoạt động cuối cùng:</strong><p>{{member.lastActive | timeago}}</p>
        </div>
        <div>
          <strong>Gia nhập:</strong><p>{{member.created | date: 'dd/MM/YYYY'}}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <div (click)="likeMember(member)" class="btn btn-primary">Like</div>
          <div (click)="selectTab(3)" class="btn btn-success">Nhắn tin</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>
       <tab heading="Thông tin về {{member.knownAs}}" (selectTab)="onTabActivated($event, 0)">
          <h4>Thông tin</h4>
         <p>{{member.introduction}}</p>
         <h4>Tìm kiếm</h4>
         <p>{{member.lookingFor}}</p>
       </tab>

      <tab heading="Sở thích" (selectTab)="onTabActivated($event,1)">
        <h4>Sở thích</h4>
        <p>{{member.interests}}</p>
      </tab>

      <tab heading="Hình ảnh" (selectTab)="onTabActivated($event,2)">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="display:inline-block;margin-bottom: 20px;"></ngx-gallery>
      </tab>

      <tab heading="Nhắn tin" (selectTab)="onTabActivated($event,3)">
        <app-member-messages [username]="member.userName"></app-member-messages>
      </tab>
    </tabset>
  </div>
</div>
