<div class="container mt-5">
  <div *ngIf="!isRegister" style="text-align: center">
    <h1>Find your match</h1>
    <p class="lead">Come on.....</p>
    <div class="text-center">
      <button (click)="showRegisterForm()" class="btn btn-primary btn-lg mr-2">Đăng kí</button>
      <button class="btn btn-info btn-lg">Thêm</button>
    </div>
  </div>
  <div *ngIf="isRegister" class="container">
    <div class="row justify-content-center ">
      <div class="col-4">
        <app-register [userFromHome]="users" (cancelRegister)="cancelRegisterHome($event)"></app-register>
      </div>
    </div>
  </div>
</div>
